<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Dept</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngIf="employee.employeeId">
            <th scope="row" >{{employee.employeeId}}</th>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.dept}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.email}}</td>
        </tr>

    </tbody>
</table>

<div><input type="text" [(ngModel)]="emp.firstName" /></div>
<div><input type="text" [(ngModel)]="emp.lastName" /></div>
<div><input type="text" [(ngModel)]="emp.dept" /></div>
<div><input type="text" [(ngModel)]="emp.city" /></div>
<div><input type="text" [(ngModel)]="emp.email" /></div>

<div><button type="button" (click)="EditEmp()">Edit</button>
<button type="button" (click)="UpdateEmp()">Update</button></div>
